.main-section {
   min-height: 100vh;
   background: center/cover no-repeat url(../../img/edunema_bg.png) rgba(23, 23, 23, 0.85);
   background-blend-mode: multiply;
   .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   &__title {
      padding-top: 16rem;
      font-weight: 600;
      font-size: 64px;
      line-height: 130%;
      color: $font-main;
   }
   &__descr {
      display: inline-block;
      text-align: center;
      width: 29rem;
      margin-top: 1.5rem;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 18px;
      color: #ffffff;
      opacity: 0.8;
      line-height: 28px;
   }
   &__author {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      .author {
         font-weight: 500;
         font-size: 18px;
         color: $font-main;
         margin-right: 1rem;
      }
      .stars {
         margin-top: 2px;
      }
      .raiting {
         margin-left: 0.6rem;
         font-weight: 400;
         font-size: 10px;
         color: $font-main_txt;
      }
   }
   &__form {
      display: flex;
      justify-content: center;
      margin-top: 2.5rem;
      min-width: 560px;
      .email-form {
         padding: 0.875rem 15rem 0.875rem 1.5rem;
         border: 2px solid rgba(255, 255, 255, 0.3);
         border-right: none;
         border-top-left-radius: 15px;
         border-bottom-left-radius: 15px;
         background: transparent;
         font-size: 18px;
         cursor: text;
         color: $font-main_txt;
         &::placeholder {
            color: $font-main_txt;
         }
      }
      .form-btn {
         padding: 0.875rem 2.75rem;
         background: #f31d1d;
         border-radius: 0px 15px 15px 0px;
         font-size: 18px;
         font-weight: 500px;
         color: #ffffff;
      }
   }
}
.main-btn {
   transition: all 0.3s;
   position: relative;
   overflow: hidden;
   z-index: 1;
   &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-red;
      z-index: -2;
   }
   &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: lighten($color-red, 15%);
      transition: all 0.3s;
      z-index: -1;
   }
   &:hover {
      color: #fff;
      &:before {
         width: 100%;
      }
   }
}
