.footer {
   background-color: #1f1f1f;
   padding: 6rem 0 3rem;
   .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: start;
      position: relative;
      .adress {
         display: flex;
         flex-direction: column;
         max-width: 310px;
         font-weight: 400;
         font-size: 20px;
         line-height: 150%;
         color: #ffffff;
         &__location {
            margin-bottom: 3.125rem;
         }
         &__phone {
            margin-bottom: 1rem;
            font-size: 16px;
            line-height: 24px;
         }
         &__email {
            font-size: 16px;
            line-height: 24px;
         }
      }
      ul {
         margin: 0;
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         color: #ffffff;
         li {
            &:not(:last-child) {
               margin-bottom: 1rem;
            }
         }
      }
      .social {
         margin-right: 240px;
      }
      .copyright {
         position: absolute;
         bottom: 0;
         right: 21.7rem;
         font-weight: 400;
         font-size: 12px;
         line-height: 20px;
         color: rgba($color: #fff, $alpha: 0.65);
      }
      a {
         position: relative;
         display: inline-block;
         transition: all 0.25s ease-out;
         &:hover {
            color: $font-main;
         }
         &::after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $font-main;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
         }
         &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
         }
         &:active {
            font-weight: 500;
         }
      }
   }
}
