.join {
   padding: 0 0 6rem;
   background-color: #151515;
   &__wrapper {
      background: center url(./img/edunema_bg_2.png) no-repeat;
      background-size: 1200px;
      border-radius: 2.5rem;
      padding: 6.25rem 4.5rem 6.75rem;
      .wrapper__title--small {
         font-weight: 400;
         font-size: 18px;
         color: #ffffff;
         text-transform: uppercase;
      }
      .wrapper__title {
         @include title__h2;
         text-align: start;
      }
      .wrapper__descr {
         margin: 1rem 0 0;
         max-width: 434px;
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         color: $font-main_txt;
      }
      .wrapper__form {
         justify-content: start;
         .email-form {
            max-width: 294px;
            padding: 0.875rem 6.5rem 0.875rem 1.5rem;
         }
         .form-btn--rounded {
            border-radius: 15px;
            margin-left: -12px;
         }
      }
   }
}
