.mentors {
   background-color: #1f1f1f;
   padding-top: 5rem;
   padding-bottom: 5rem;
   .wrapper {
      margin-bottom: 4.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__text {
         width: 29rem;
         &__title {
            font-weight: 500;
            font-size: 40px;
            line-height: 60px;
            color: #ffffff;
         }
         &__descr {
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #ffffff;
         }
         &__btn {
            padding: 17px 42px;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.03em;
            color: #1f1f1f;
            background-color: #ffffff;
            border: 1.2px solid #c4c4c4;
            border-radius: 100px;
            transition: all 0.3s ease-in-out;
            &:hover {
               border-color: lighten($color: $color-red, $amount: 15%);
               color: lighten($color: $color-red, $amount: 15%);
            }
         }
      }
   }
   .cards {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .card {
         display: flex;
         flex-direction: column;
         max-width: 290px;
         background-color: #151515;
         padding: 24px;
         margin-bottom: 6rem;
         box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
         border-radius: 20px;
         img {
            width: 234px;
            height: 234px;
            object-fit: cover;
            border-radius: 20px;
         }
         &__title {
            padding-top: 1rem;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: -1px;
            color: #ffffff;
         }
         &__status {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 0.5rem;
            font-weight: 400;
            font-size: 14px;
            color: #918c8c;
            position: relative;
            .status {
               margin-right: 40px;
            }
            .direction {
               position: relative;
               &::before {
                  content: "";
                  position: absolute;
                  top: 54%;
                  left: -24px;
                  width: 8px;
                  height: 8px;
                  transform: translateY(-50%);
                  background-color: #918c8c;
                  border-radius: 50%;
               }
            }
         }
         &__btn {
            width: 100%;
            padding: 14px 0;
            margin-top: 1.5rem;
            font-weight: 500;
            font-size: 16px;
            color: #ffffff;
            border-radius: 15px;
         }
      }
   }
   .video-wrapper {
      &__title {
         text-align: center;
         font-weight: 500;
         font-size: 36px;
         line-height: 140%;
         letter-spacing: -0.03em;
         color: #ffffff;
      }
      &__descr {
         max-width: 450px;
         margin: 1.4rem auto 5.5rem;
         text-align: center;
         font-weight: 400;
         font-size: 16px;
         line-height: 25px;
         color: #ffffff;
      }
      &__items {
         margin: 0;
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         .video-wrapper__item {
            display: flex;
            flex-direction: column;
            max-width: 384px;
            background-color: #151515;
            padding: 16px 16px 0;
            margin-bottom: 4.75rem;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
            border-radius: 28px;
            .pos {
               position: relative;
               &::after {
                  content: url(../../img/svg/play.svg);
                  position: absolute;
                  width: 58px;
                  height: 58px;
                  top: 50%;
                  left: 50%;
                  z-index: 100;
                  transform: translate(-50%);
                  cursor: pointer;
                  z-index: 4;
               }
            }
            &__img {
               width: 352px;
               height: 258px;
               object-fit: cover;
               border-radius: 24px;
               cursor: pointer;
            }
            &__title {
               padding-top: 1.5rem;
               font-weight: 600;
               font-size: 20px;
               line-height: 26px;
               letter-spacing: 0.5px;
               color: #ffffff;
            }
            &__descr {
               margin: 0;
               padding-top: 1rem;
               font-weight: 400;
               font-size: 16px;
               line-height: 24px;
               color: $font-main_txt;
            }
            &__rating {
               margin: 1.5rem 0 1.5rem;
               justify-content: flex-start;
            }
         }
      }
   }
   .get-started {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-red;
      border: 2px solid #f31d1d;
      border-radius: 28px;
      padding: 3.75rem;
      &__title {
         font-weight: 600;
         font-size: 40px;
         line-height: 50px;
         letter-spacing: -1px;
         color: #ffffff;
      }
      &__btn {
         padding: 15px 74px;
         font-weight: 500;
         font-size: 18px;
         line-height: 140%;
         color: #f31d1d;
         background-color: #ffffff;
         border-radius: 16px;
      }
   }
}
